<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softworks.joongworld.comment.repository.CommentLikeMapper">

  <insert id="insert">
    INSERT INTO comment_like (comment_id, user_id)
    VALUES (#{commentId}, #{userId}) ON CONFLICT (comment_id, user_id) DO NOTHING
  </insert>

  <delete id="delete">
    DELETE
    FROM comment_like
    WHERE 1 = 1
      AND comment_id = #{commentId}
      AND user_id = #{userId}
  </delete>

  <select id="countByCommentAndUser" resultType="int">
    SELECT COUNT(1)
    FROM comment_like
    WHERE 1 = 1
      AND comment_id = #{commentId}
      AND user_id = #{userId}
  </select>

  <select id="findLikedCommentIds" resultType="long">
    SELECT comment_id
    FROM comment_like
    WHERE 1 = 1
    AND user_id = #{userId}
    AND comment_id IN
    <foreach item="id" collection="commentIds" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

</mapper>
