<!-- 의존성 스타일 로드 / 사용하는 곳에서 반드시 import 해서 사용 (페이지 상단)-->
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="editorHead">
    <link rel="stylesheet" href="/css/fragment/editor.css" th:href="@{/css/fragment/editor.css}">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/47.1.0/ckeditor5.css" crossorigin>
</th:block>

<!-- 의존성 스타일, JS 파일 로드 / 사용하는 곳에서 반드시 import 해서 사용-->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="editorContainer (editorId)">
    <div class="editor-container editor-container_classic-editor">
        <div class="editor-container__editor">
            <div th:attr="id=${editorId != null ? editorId : 'editor'},data-editor-target=${editorId != null ? editorId : 'editor'}"></div>
        </div>
    </div>
</div>

<!-- 의존성 JS 로드 / 사용하는 곳에서 반드시 import 해서 사용 (페이지 하단 푸터 에서 사용)-->
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="editorScripts">
    <script src="https://cdn.ckeditor.com/ckeditor5/47.1.0/ckeditor5.umd.js" crossorigin></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/47.1.0/translations/ko.umd.js" crossorigin></script>
    <script src="/js/fragment/editor.js" th:src="@{/js/fragment/editor.js}"></script>
</th:block>
